body {
    margin: 0;
    padding: 0;
}

.container {
    height: 100vh;
    box-sizing: border-box;
    position: relative;
    transform-style: preserve-3d;
    transform: translateZ(-500px) scale(1);
}

.cube {
    width: inherit;
    height: inherit;
    position: relative;
    transform-style: preserve-3d;
    animation-fill-mode: forwards;
    width: 12.5vw;
    height: 100vh;
}

.cube div {
    position: absolute;
    width: inherit;
    height: inherit;
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: top;
}

.P .front {
    transform: translateZ(75px);
    background-image: url('img/P.png');
}

.P .top {
    transform: rotateX(90deg) translateZ(75px);
    background-image: url('img/P.png');
}



.H .front {
    transform: translateZ(75px);
    background-image: url('img/H.png');
}

.H .top {
    transform: rotateX(90deg) translateZ(75px);
    background-image: url('img/H.png');
}

.I .front {
    transform: translateZ(75px);
    background-image: url('img/I.png');
}

.I .top {
    transform: rotateX(90deg) translateZ(75px);
    background-image: url('img/I.png');
}

.V .front {
    transform: translateZ(75px);
    background-image: url('img/V.png');
}

.V .top {
    transform: rotateX(90deg) translateZ(75px);
    background-image: url('img/V.png');
}

.E .front {
    transform: translateZ(75px);
    background-image: url('img/E.png');

}

.E .top {
    transform: rotateX(90deg) translateZ(75px);
    background-image: url('img/E.png');
}

.c .front {
    transform: translateZ(75px);
    background-image: url('img/c.png');

}

.c .top {
    transform: rotateX(90deg) translateZ(75px);
    background-image: url('img/c.png');
}

.l .front {
    transform: translateZ(75px);
    background-image: url('img/l.png');

}

.l .top {
    transform: rotateX(90deg) translateZ(75px);
    background-image: url('img/l.png');
}

.u .front {
    transform: translateZ(75px);
    background-image: url('img/u.png');

}

.u .top {
    transform: rotateX(90deg) translateZ(75px);
    background-image: url('img/u.png');
}

.b .front {
    transform: translateZ(75px);
    background-image: url('img/b.png');

}

.s .top {
    transform: rotateX(90deg) translateZ(75px);
    background-image: url('img/s.png');
}

.s .front {
    transform: translateZ(75px);
    background-image: url('img/s.png');

}

.b .top {
    transform: rotateX(90deg) translateZ(75px);
    background-image: url('img/b.png');
}

.text {
    display: flex;
    justify-content: start;
    align-items: start;
    height: inherit;
    color: black;
    font-family: "Special Gothic Expanded One", sans-serif;
    font-weight: 400;
    font-style: normal;
    overflow: hidden;
}

.letter {
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
}

.letter:nth-child(2) {
    margin-left: -40px;
}

.letter:nth-child(3) {
    margin-left: -75px;
}

.letter:nth-child(4) {
    margin-left: -75px;
}

.letter:nth-child(5) {
    margin-left: -50px;
}

.letter:nth-child(7) {
    margin-left: -40px;
}

.letter:nth-child(8) {
    margin-left: -60px;
}

.letter:nth-child(9) {
    margin-left: -40px;
}

.letter:nth-child(10) {
    margin-left: -40px;
}

.P {
    animation: text_rotation 0.4s linear;

}

.H {
    animation: text_rotation 0.5s linear;

}

.I {
    animation: text_rotation 0.6s linear;

}

.V {
    animation: text_rotation 0.7s linear;

}

.E {
    animation: text_rotation 0.8s linear;

}

.c {
    animation: text_rotation 0.9s linear;

}

.l {
    animation: text_rotation 1s linear;

}

.u {
    animation: text_rotation 1.1s linear;

}

.b {
    animation: text_rotation 1.2s linear;

}

.s {
    animation: text_rotation 1.3s linear;

}

.box-video {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@keyframes text_rotation {

    0% {
        transform: rotateX(0deg);
    }

    100% {
        transform: rotateX(-90deg);
    }

}